@page "/plugins/lnbank/wallets/{walletId}/details"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.DetailsModel

@{
    ViewData.SetActivePage(LNbankNavPages.WalletSettings, Model.Wallet.Name, Model.Wallet.WalletId);
}

<partial name="_WalletHeader" model="Model.Wallet"/>
<partial name="_Nav" model="Model.Wallet"/>

<dl class="row">
    <dt class="col-sm-3 col-xl-2">
        @Html.DisplayNameFor(model => model.Wallet.Name)
    </dt>
    <dd class="col-sm-9 col-xl-10">
        <span id="LNbank-WalletName">@Model.Wallet.Name</span>
        <a asp-page="./Edit" asp-route-walletId="@Model.Wallet.WalletId" class="ms-2">
            Edit
        </a>
    </dd>
    <dt class="col-sm-3 col-xl-2">
        @Html.DisplayNameFor(model => model.Wallet.WalletId)
    </dt>
    <dd class="col-sm-9 col-xl-10" id="LNbank-WalletId">
        @Model.Wallet.WalletId
    </dd>
    <dt class="col-sm-3 col-xl-2">
        @Html.DisplayNameFor(model => model.Wallet.CreatedAt)
    </dt>
    <dd class="col-sm-9 col-xl-10">
        @Model.Wallet.CreatedAt
    </dd>
    <dt class="col-sm-3 col-xl-2">
        LNURL
    </dt>
    <dd class="col-sm-9 col-xl-10">
        <a asp-page="./ShareLNURL" asp-route-walletId="@Model.Wallet.WalletId">Receive</a>
    </dd>
</dl>

<a asp-page="./Delete" asp-route-walletId="@Model.Wallet.WalletId" class="btn btn-sm btn-outline-danger d-inline-flex align-items-center mt-4">
    Delete Wallet
</a>
