@page "/plugins/lnbank/wallets/{walletId}/send/{handler?}"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.SendModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallet, "Send", Model.Wallet.WalletId);
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<partial name="_WalletHeader" model="Model.Wallet"/>

@if (!ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger mb-4"></div>
}

<form method="post" asp-page-handler="@(Model.Bolt11 == null ? "decode" : "confirm")">
    @if (Model.Bolt11 == null)
    {
        <div class="form-group">
            <label asp-for="PaymentRequest" class="form-label" data-required></label>
            <textarea asp-for="PaymentRequest" class="form-control" rows="6" style="max-width:70ch;"></textarea>
            <span asp-validation-for="PaymentRequest" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="LNbank-Decode">
                Decode payment request
            </button>
        </div>
    }
    else
    {
        <input asp-for="PaymentRequest" type="hidden" required/>
        <dl class="row mb-0">
            <dt>Amount</dt>
            <dd id="LNbank-Amount">@Helpers.Sats(Model.Bolt11.MinimumAmount)</dd>
            <dt>Expiry</dt>
            <dd>@Model.Bolt11.ExpiryDate.ToTimeAgo() (@Model.Bolt11.ExpiryDate)</dd>
        </dl>
        <div class="form-group">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control" style="max-width:70ch;" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="LNbank-Send">
                Send @Helpers.Sats(Model.Bolt11.MinimumAmount)
            </button>
        </div>
    }
</form>
