@page "/plugins/lnbank/wallets/{walletId}/send/{handler?}"
@using BTCPayServer.Lightning
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.SendModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallet, "Send", Model.Wallet.WalletId);
    var isReady = Model.Bolt11 != null && !Model.ValidationFailed && ModelState.IsValid;
}

@section LNbankFoot {
    <partial name="_ValidationScriptsPartial" />
}

<partial name="_WalletHeader" model="Model.Wallet"/>

@if (!ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger mb-4"></div>
}

<form method="post" asp-page-handler="@(isReady ? "confirm" : "decode")">
    @if (!isReady)
    {
        <div class="form-group">
            <label asp-for="PaymentRequest" class="form-label" data-required></label>
            <textarea asp-for="PaymentRequest" class="form-control" rows="6" autofocus style="max-width:70ch;"></textarea>
            <span asp-validation-for="PaymentRequest" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="LNbank-Decode">
                Decode payment request
            </button>
        </div>
    }
    else
    {
        <input asp-for="PaymentRequest" type="hidden" required/>
        <dl class="row mb-0">
            <dt>Expiry</dt>
            <dd>
                @Model.Bolt11.ExpiryDate.ToTimeAgo()
                <span class="text-muted">(@Model.Bolt11.ExpiryDate)</span>
            </dd>
        </dl>
        @if (Model.Bolt11.MinimumAmount == LightMoney.Zero)
        {
            <div class="form-group">
                <label asp-for="ExplicitAmount" class="form-label" data-required></label>
                <input asp-for="ExplicitAmount" class="form-control text-end hide-number-spin" type="number" max="@Model.Wallet.Balance.ToUnit(LightMoneyUnit.Satoshi)" style="width:15ch;" autofocus required />
                <span asp-validation-for="ExplicitAmount" class="text-danger"></span>
            </div>
        }
        else
        {
            <dl class="row mb-0">
                <dt>Amount</dt>
                <dd id="LNbank-Amount">@Helpers.Sats(Model.Bolt11.MinimumAmount)</dd>
            </dl>
        }
        <div class="form-group">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control" autofocus style="max-width:70ch;" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="LNbank-Send">
                Send 
                @if (Model.Bolt11.MinimumAmount != LightMoney.Zero)
                {
                    Helpers.Sats(Model.Bolt11.MinimumAmount);
                }
            </button>
        </div>
    }
</form>
