@page "/plugins/lnbank/wallets/{walletId}"
@using System.Globalization
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.WalletModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallets, Model.Wallet.Name);
}

<partial name="_WalletHeader" model="Model.Wallet"/>

@if (Model.Transactions.Any())
{
    <div class="row">
        <div class="col table-responsive-md">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th class="text-end">Amount</th>
                    <th class="text-end">Settled</th>
                </tr>
                </thead>
                <tbody id="LNbank-WalletTransactions">
                @foreach (var transaction in Model.Transactions)
                {
                    <tr id="LNbank-Transaction-@transaction.TransactionId">
                        <td>
                            <a asp-page="/Transactions/Details" asp-route-walletId="@Model.Wallet.WalletId" asp-route-transactionId="@transaction.TransactionId" class="transaction-details">
                                <time datetime="@transaction.CreatedAt.ToString("o", CultureInfo.InvariantCulture)">
                                    @transaction.CreatedAt.ToTimeAgo()
                                </time>
                            </a>
                        </td>
                        <td>
                            <span class="transaction-description">@transaction.Description</span>
                            <a asp-page="/Transactions/Edit" asp-route-walletId="@Model.Wallet.WalletId" asp-route-transactionId="@transaction.TransactionId" class="transaction-edit">
                                Edit
                            </a>
                        </td>
                        <td class="text-nowrap text-end transaction-amount">
                            @Helpers.Sats(transaction.Amount)
                        </td>
                        <td class="text-nowrap text-end">
                            @if (transaction.IsPaid)
                            {
                                @if (transaction.RoutingFee != null)
                                {
                                    <span class="text-@(transaction.AmountSettled > 0 ? "success" : "danger") transaction-settled" data-bs-toggle="tooltip" data-bs-placement="left" title="Includes @Helpers.Millisats(transaction.RoutingFee) routing fee">
                                        @Helpers.Sats(transaction.AmountSettled)
                                    </span>
                                }
                                else
                                {
                                    <span class="text-@(transaction.AmountSettled > 0 ? "success" : "danger") transaction-settled">
                                        @Helpers.Sats(transaction.AmountSettled)
                                    </span>
                                }
                            }
                            else
                            {
                                <span class="text-@(transaction.IsExpired ? "info" : "warning") transaction-status">
                                    @transaction.Status
                                </span>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p id="LNbank-WalletTransactions" class="text-secondary">There are no transactions yet.</p>
}

