@page "/plugins/podserver/podcasts/{podcastId}/public"
@using System.Globalization
@using BTCPayServer.Abstractions.Contracts
@model BTCPayServer.Plugins.PodServer.Pages.Podcasts.PublicModel
@inject IFileService _fileService

@{
    Layout = "_LayoutSimple";
}

<div class="sticky-header-setup"></div>
<div class="sticky-header d-sm-flex align-items-center justify-content-between">
    <h1 class="mb-0">@ViewData["Title"]</h1>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a asp-page="./Public" asp-route-podcastId="@Model.Podcast.PodcastId" class="btn btn-primary mt-3 mt-sm-0" role="button" id="Feed" target="feed_@Model.Podcast.PodcastId">Feed</a>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Podcast.ImageFileId))
{
    <img src="@(await _fileService.GetFileUrl(Request.GetAbsoluteRootUri(), Model.Podcast.ImageFileId))" alt="@Model.Podcast.Title" style="max-width: 200px;max-height: 200px;" class="d-block mb-3"/>
}

@Html.Raw(Model.Podcast.Description)

@if (Model.Episodes.Any())
{
    <div class="row">
        <div class="col table-responsive-md">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody id="PodcastEpisodes">
                @foreach (var episode in Model.Episodes)
                {
                    <tr id="Episode-@episode.EpisodeId">
                        <td>
                            <a asp-page="/Episode/Edit" asp-route-episode="@episode.EpisodeId" class="episode-edit">
                                <time datetime="@episode.PublishedAt?.ToString("o", CultureInfo.InvariantCulture)">
                                    @episode.PublishedAt?.ToTimeAgo()
                                </time>
                            </a>
                        </td>
                        <td>
                            <span class="episode-title">@episode.Title</span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p id="PodcastEpisodes" class="text-secondary">There are no episodes yet.</p>
}
