@page "/plugins/podserver/episodes/{episodeId}/public"
@using BTCPayServer.Abstractions.Contracts
@model BTCPayServer.Plugins.PodServer.Pages.Episodes.PublicModel
@inject IFileService _fileService

@{
    Layout = "_LayoutSimple";
}

<div class="sticky-header-setup"></div>
<div class="sticky-header d-sm-flex align-items-center justify-content-between">
    <h1 class="mb-0">@ViewData["Title"]</h1>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a asp-page="/Podcasts/Public" asp-route-podcastId="@Model.Podcast.PodcastId" class="btn btn-primary mt-3 mt-sm-0">@Model.Podcast.Title</a>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Episode.ImageFileId))
{
    <img src="@(await _fileService.GetFileUrl(Request.GetAbsoluteRootUri(), Model.Episode.ImageFileId))" alt="@Model.Episode.Title" style="max-width: 200px;max-height: 200px;" class="d-block mb-3"/>
}

@Html.Raw(Model.Episode.Description)
