@page "/plugins/podserver/episodes/{episodeId}/public"
@using BTCPayServer.Plugins.PodServer.Data.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BTCPayServer.Abstractions.Contracts
@model BTCPayServer.Plugins.PodServer.Pages.Episodes.PublicModel
@inject IFileService FileService

@{
    Layout = "_LayoutSimple";
    var rootUri = Request.GetAbsoluteRootUri();
    var enclosure = Model.Episode.MainEnclosure;
    var player = new Player(Model.Episode, FileService);
    var imageUrl = await player.GetImageUrl(rootUri);
    var enclosureUrl = await player.GetEnclosureUrl(rootUri);
}

@section PageHeadContent
{
    <meta property="og:type" content="article">
    @if (imageUrl != null)
    {
        <meta property="og:image" content="@imageUrl.Replace("https://", "http://")">
        <meta property="og:image:secure_url" content="@imageUrl">
    }
    @if (enclosure != null)
    {
        <meta property="og:audio:type" content="@enclosure.Type">
    }
    @if (!string.IsNullOrEmpty(enclosureUrl))
    {
        <meta property="og:audio:url" content="@enclosureUrl.Replace("https://", "http://")">
        <meta property="og:audio:secure_url" content="@enclosureUrl">
    }
    <meta property="article:section" content="@Model.Podcast.Category">
    <meta property="article:published_time" content="@Model.Episode.PublishedAt">
}

<div class="sticky-header-setup"></div>
<div class="sticky-header d-sm-flex align-items-center justify-content-between">
    <h1 class="mb-0">@ViewData["Title"]</h1>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a asp-page="/Podcasts/Public" asp-route-podcastId="@Model.Podcast.PodcastId" class="btn btn-primary mt-3 mt-sm-0">@Model.Podcast.Title</a>
    </div>
</div>

@if (enclosure != null)
{
    <partial name="PodServerPlayer" model="@player"/>
}

@Html.Raw(Model.Episode.Description)
